
.page{
    background-color: navy;
}

.header{
    text-align: center;
    background-color: rgb(14, 149, 233);
    margin-bottom: 15px;
}
.weekForecast{
    text-align: center;
}

.currentTemp h1{
    font-size: 150px;
}

.day{
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    background-color: lightskyblue;
}